global
  maxconn 20480
defaults
  mode tcp
  timeout connect 10s
  timeout client  1m
  timeout server  1m

frontend api
  bind *:6443
  default_backend api_backend

backend api_backend
  balance roundrobin
  server cp-0 192.168.111.10:6443 check
  server cp-1 192.168.111.11:6443 check
  server cp-2 192.168.111.12:6443 check

frontend ingress_http
  bind *:80
  default_backend ingress_backend

frontend ingress_https
  bind *:443
  default_backend ingress_backend

backend ingress_backend
  balance roundrobin
  server worker-0 192.168.111.20:80 check
  server worker-1 192.168.111.21:80 check
  server worker-2 192.168.111.22:80 check
